<mdc-drawer>
  <mdc-drawer-header title="Karibou" subtitle="Management"></mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list>
      <h6 mdcListGroupSubheader>Config</h6>
      <a mdc-list-item >
        <mdc-icon mdcListItemGraphic>home</mdc-icon>Welcome Content
      </a>
      <a mdc-list-item>
        <mdc-icon mdcListItemGraphic>home</mdc-icon>Home Content
      </a>
      <a mdc-list-item>
        <mdc-icon mdcListItemGraphic>home</mdc-icon>Site Page
      </a>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>