
@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

// MDC Typography
@use '@material/typography/mdc-typography';
@use '@material/typography';

// MDC Button
@use '@material/button/mdc-button';
@use '@material/button';

// Angular MDC
@use '@angular-mdc/theme/material';

@use '@material/drawer/mdc-drawer';
//@use '@material/drawer';

@use '@material/list/mdc-list';

